{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - GaiNS.ai</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-#333">
        <a class="navbar-brand" href={% url 'homepage' %}>
        <img src="" style="width: 30px; height: 30px;">GaiNS.ai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'about' %}>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Community.html">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Music.html">Music</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="nav-buttons mr-3"> 
                <a href={% url 'logout' %} class="btn btn-outline-light">Logout</a>
            </div>
            {% else %}
            <div class="nav-buttons mr-3"> 
                <a href={% url 'signup' %} class="btn btn-custom mr-2" style="background-color: #9c56e3;">Sign Up</a>
                <a href={% url 'login' %} class="btn btn-outline-light">Login</a>
            </div>
            {% endif %}
            <div id="themeToggle" class="fas fa-adjust fa-lg text-primary; " style="cursor: pointer; " onclick="toggleTheme()">
        </div>
    </nav>
</header>


<div class="container" style="display: flex;justify-content: center;align-items: center;">
    {% comment %} <div class="row"> {% endcomment %}

        <div class="card" style="margin: 10px;float:left">      
            <img src="{% static 'profile.jpg'%}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;">Brian Truong</h5>
                <p class="card-text">"Hi there! I'm a senior studying computer science, and I have a passion for napping, eating, and gaming!
                    At home, I have a feline companion named Mo, who's always eager for a treat.
                    Whenever I crave a delicious meal, pho is my go-to dish. Lately, I've been immersing myself in the world of Deep Rock Galactic –
                    it's my current gaming obsession!"
                </p>
            </div>
        </div>
        <div class="card" style="margin: 10px;float: left">      
            <img src="{% static 'profile.jpg'%}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="margin: 10px;float: left">      
            <img src="{% static 'profile.jpg'%}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    {% comment %} </div> {% endcomment %}
</div>





<style>.dark-mode {
    /*  dark mode  */
    background-color: #000000;
    color: #fff;
}
</style>
<script>
    function toggleTheme() {
    console.log('Toggle theme function called');
    const body = document.body;
    body.classList.toggle('dark-mode');
    }
</script>