{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<!-- Header -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-#333">
        <a class="navbar-brand" href="{% url 'homepage' %}">    
        <img src="{% static 'GaiNs_icon.jpeg'%}" style="width: 30px; height: 30px;">GaiNS.ai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community' %}">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'checkin' %}">Check-in</a>
                <li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'music' %}">Music</a>
                </li>
                    <img id="icon" src="{% static 'Mute_Icon.png' %}" alt="Icon">
                    <audio id="music" src="{% static 'music\Ready for It-Taylor swift.mp3' %}"></audio>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="nav-buttons mr-3"> 
                <a class="btn btn-outline-light">Logged In as<br>{{ request.user.username }}</a>
            </div>
            <div class="nav-buttons mr-3"> 
                <a href={% url 'logout' %} class="btn btn-outline-light">Logout</a>
            </div>
            {% else %}
            <div class="nav-buttons mr-3"> 
                <a href={% url 'signup' %} class="btn btn-custom mr-2" style="background-color: #9c56e3;">Sign Up</a>
                <a href={% url 'login' %} class="btn btn-outline-light">Login</a>
            </div>
            {% endif %}
            <div id="themeToggle" class="fas fa-adjust fa-lg text-primary; " style="cursor: pointer; " onclick="toggleTheme()"></div>
        </div>
    </nav>
</header>
    <body>
      <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">{{ message }}</div>
            {% endfor %}
        {% endif %}
      </div>
      {% block content %}

      {% endblock %}
    </body>
</html>