{%extends 'base.html'%}
{% load static %}
{% block content %}
<script src="{% static 'Diet.js'%}"></script>
<script src="{% static 'script.js' %}"></script>
<style>
    .container {
        display: flex;
        align-items: center; /* Center items vertically */
        justify-content: center; /* Center items horizontally */
        flex-wrap: wrap; /* Allow items to wrap to the next line */
    }
    .btn-custom {
        background-color: #9c56e3;
        border-color: #9c56e3; 
        color: white; 
    }
</style>

<body>
    <style>.dark-mode {
        /*  dark mode  */
        background-color: #000000;
        color: #fff;
    }
    </style>


    <script src="script.js"></script>

    <div class="nav-buttons mr-3"> 
    <button id="Generate Diet" class="btn btn-custom" >Generate Diet (May Take 10 seconds for API)</button>
    <button id="Generate_Again_Diet" class="btn btn-custom"> Change Diet Type</button>
    <button id="Save_Diet" class="btn btn-custom"> Save Diet(Not implement) Type</button>
    </div>

    <div class="container">
        <div id = "context">
                <!-- Your content here -->
        </div>    
        </div>
{% endblock %}