{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title> Welcome to GaiNS.ai </title>
    <!-- Welcome Section -->
    <div class="jumbotron jumbotron-fluid bg-dark-#333 text-white text-center" style="background-color: #333;">
            <h1 class="display-1 font-weight-bold">Welcome to GaiNS.ai</h1>
            <p class="lead">Where personalized fitness routines meet cutting-edge technology for your optimal workout experience!</p>
            <a href={% url 'form' %} class="btn btn-custom btn-lg" style="background-color: #9c56e3;">Get Started</a>
    </div>
    

    <!-- Feature Sections -->
    <section class="features">
        <div class="feature">
            <span style='font-size:50px;' class="emoji hearts" role="img" aria-label="hearts"></span>
            <h3>Happy Body</h3>
            <p>Embrace your well-being and lead a healthy lifestyle.</p>
        </div>
        <div class="feature">
            <span style='font-size:50px;'class="emoji clock" role="img" aria-label="clock"></span>
            <h3>Quality Rest</h3>
            <p>Get better sleep and health rejuvenated.</p>
        </div>
        <div class="feature">
            <span style='font-size:50px;'class="emoji hourglass" role="img" aria-label="hourglass"></span>
            <h3>Magnis dis</h3>
            <p>Enhance your well-being and lead a healthy lifestyle.</p>
        </div>
    </section>  

    <!-- Footer -->
    <footer>
        <div class="jumbotron jumbotron-fluid bg-dark-#333 text-white text-center"style="background-color: #333;border: none;">
                <h1 class="display-4">Join Our Community</h1>
                <p class="lead">Connect with like-minded individuals and achieve your fitness goals together!</p>
                <a href="Community.html" class="btn btn-outline-light btn-lg">Join Now</a>
        </div>
    </footer>

    <!-- Styling -->
    <style>.btn-custom {
        background-color: #9c56e3;
        border-color: #9c56e3; 
        color: white; /* Set text color to white */
    }</style>

    <!-- Scripts -->
    <script src="{% static 'script.js' %}"></script>

{% endblock %}