{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <style>
        .classic-button {
  background-color: #9c56e3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
    </style>
</head>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark-#333">
            <a class="navbar-brand" href={% url 'homepage' %}>    
            <img src="{% static 'GaiNs_icon.jpeg'%}" style="width: 30px; height: 30px;">GaiNS.ai</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'about' %}>About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Community.html">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Checkin.html">Check-in</a>
                    <li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Music</a>
                    </li>
                        <img id="icon" src="{% static 'Mute_Icon.png' %}" alt="Icon">
                        <audio id="music" src="{% static 'music/Gucci Gang -lil pump.mp3' %}"></audio>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <div class="nav-buttons mr-3"> 
                    <a href={% url 'logout' %} class="btn btn-outline-light">Logout</a>
                </div>
                {% else %}
                <div class="nav-buttons mr-3"> 
                    <a href={% url 'signup' %} class="btn btn-custom mr-2" style="background-color: #9c56e3;">Sign Up</a>
                    <a href={% url 'login' %} class="btn btn-outline-light">Login</a>
                </div>
                {% endif %}
                <div id="themeToggle" class="fas fa-adjust fa-lg text-primary; " style="cursor: pointer; " onclick="toggleTheme()"></div>
            </div>
        </nav>
    </header>
<body>
    <h1 style="text-align: center;"> Pick a song to save as the default background music </h1>
    <button class="classic-button" onclick="changeAudio('music/Rocky Balboa-Theme Song.mp3')">Rocky Theme songs</button>
    <button class="classic-button" onclick="changeAudio('music/Eye of The Tiger-Survivor.mp3')">Eye of the Tiger-Survivor</button>
    <button class="classic-button" onclick="changeAudio('music/Ready for It-Taylor swift.mp3')">Ready for it By taylor swift</button>
    <button class="classic-button" onclick="changeAudio('music/MIC Drop (Steve Aoki Remix).mp3')">Mic drop by bts Steve aoki remix</button>
    <button class="classic-button" onclick="changeAudio('music/Cupid-Fifty Fifty.mp3')">Cupid by fifty fifty</button>
    <button class="classic-button" onclick="changeAudio('music/Gucci Gang -lil pump.mp3')">Gucci Gang by lil pump</button>


</body>

<script>
    function changeAudio(src){
        var audio = document.getElementById('music');
        localStorage.setItem('defaultSong', src);
        icon.src = "Speaker_Icon.png";
        audio.src = localStorage.getItem('defaultSong');
        audio.play();
    }
</script>