{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - GaiNS.ai</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-#333">
        <a class="navbar-brand" href={% url 'homepage' %}>    
        <img src="" style="width: 30px; height: 30px;">GaiNS.ai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'about' %}>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Community.html">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Music.html">Music</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="nav-buttons mr-3"> 
                <a href={% url 'logout' %} class="btn btn-outline-light">Logout</a>
            </div>
            {% else %}
            <div class="nav-buttons mr-3"> 
                <a href={% url 'signup' %} class="btn btn-custom mr-2" style="background-color: #9c56e3;">Sign Up</a>
                <a href={% url 'login' %} class="btn btn-outline-light">Login</a>
            </div>
            {% endif %}
            <div id="themeToggle" class="fas fa-adjust fa-lg text-primary; " style="cursor: pointer; " onclick="toggleTheme()">
            </div>
    </nav>
</header>
<body>
    <h1 style="text-align: center;" >Sign Up for GaiNS.ai</h1>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <form id="signupForm" method="POST" action="{% url 'signup' %}">
        {%csrf_token%}
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="first_name"required>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="last_name"required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"required>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password1"required>
        <label for="password">Password Confirmation:</label>
        <input type="password" id="password" name="password2"required>
        <button type="submit">Sign Up</button>
    </form>
    <script src="script.js"></script>
    <script src="signup-script.js"></script>
</body>
</html>
