{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Workout Content -->
    <div class="container">
        <div id="player">
            <!-- Videos will be inserted here -->
        </div>
        <div id="context">
        </div>
    </div>
    
    <div class="nav-buttons mt-3" style="display: flex; justify-content: center;"> 
        <button id="Generate" class="btn btn-custom mr-2" style="background-color: #9c56e3; color: #fff; border-color: #9c56e3; border-radius: 5px; padding: 10px 20px; font-size: 16px;">Generate(May Take a few seconds for API)</button>
        <button id="Generate_Different" class="btn btn-custom mr-2" style="background-color: #9c56e3; color: #fff; border-color: #9c56e3; border-radius: 5px; padding: 10px 20px; font-size: 16px;">Generate 5 more exercise</button>
        <button id="Generate_Again" class="btn btn-custom" style="background-color: #9c56e3; color: #fff; border-color: #9c56e3; border-radius: 5px; padding: 10px 20px; font-size: 16px;">Change workout Type</button>
    </div>

    <div id = "content">
        <!-- Your content here -->
    </div>
    <!-- Styling -->
    <style>.dark-mode {
        /*  dark mode  */
        background-color: #000000;
        color: #fff;
    }
    </style> 
    <style>
        .container {
            display: flex;
            align-items: center; /* Center items vertically */
            justify-content: center; /* Center items horizontally */
            flex-wrap: wrap; /* Allow items to wrap to the next line */
        }
        .video-exercise-container {
            margin: 10px; /* Adjust spacing between video-exercise containers */
            text-align: center; /* Center content horizontally */
        }
        .btn-custom {
            background-color: #9c56e3;
            border-color: #9c56e3; 
            color: white; 
        }
    </style>
    <!-- Scripts -->
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'Key.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Replace with your key
            const YoutubeApiKey = localStorage.getItem("YoutubeApiKey_key");
            const ChatgptApiKey = localStorage.getItem("ChatgptApiKey_key");
            
            const GenerateButton = document.getElementById('Generate');
            const GenerateButton_again = document.getElementById('Generate_Again');
            const GenerateButton_Different = document.getElementById('Generate_Different');
            let exerciseString = '';

            GenerateButton.addEventListener('click', function() {
                var Prompt = "{{ last_string }}"
                console.log("Prompt: ", Prompt)
                sendMessage(Prompt);
            });
        
            GenerateButton_again.addEventListener('click', function() {
                var currentUrl = window.location.href;
                var newUrl = currentUrl.replace("workout", "form");
                window.location.href = newUrl;
            });
        
            GenerateButton_Different.addEventListener('click', function() {
                var Different_Prompt = "{{ last_different_string }}"
                console.log("Different_Prompt: ", Different_Prompt)
                sendMessage(Different_Prompt);
            });
        
            function sendMessage(message) {
                fetch('https://api.openai.com/v1/chat/completions', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${ChatgptApiKey}`
                    },
                    body: JSON.stringify({
                        model: 'gpt-3.5-turbo', // You can change the model if needed
                        messages: [{ role: 'user', content: message }]
                    })
                })
                .then(response => response.json())
                .then(data => {
                    const responseMessage = data.choices[0].message.content;
                    saveToDatabase(responseMessage);
        
                    // Split the response into separate strings based on the numbers
                    const ExcisesArray = responseMessage.split(/\d+\.|(?<=\d)\)/).filter(Boolean).map(s => s.trim());
        
                    const contextDiv = document.getElementById("context");
        
                    // Create container for video and exercise name
                    const videoExerciseContainer = document.createElement('div');
                    videoExerciseContainer.classList.add('video-exercise-container');
                    
                    //Display each curl on the website
                     ExcisesArray.forEach((excrise) => {
                         const ExcisesDescription =excrise.split(':').map(part => part.trim());
                         
                            const ExciseName = document.createElement('h1');
                            ExciseName.textContent = ` ${ExcisesDescription[0]}`;
                            console.log(ExciseName)
                            
        
        
                            const ExciseDescription = document.createElement('div');
                            ExciseDescription.textContent = ` ${ExcisesDescription[1]}`;
                            videoExerciseContainer.appendChild(ExciseDescription);
                            console.log(ExciseDescription)
                            
                            const searchQuery = `How to do ${ExciseName.textContent}`;
                            // Call API to fetch video
                            fetch(`https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=1&q=${encodeURIComponent(searchQuery)}&type=video&videoEmbeddable=true&key=${YoutubeApiKey}`)
                                .then(response => response.json())
                                .then(data => {
                                    const videoId = data.items[0].id.videoId;
                                    const videoUrl = `https://www.youtube.com/embed/${videoId}`;
                                    
                                    


                                    // Create an iframe element to embed the video
                                    const iframe = document.createElement('iframe');
                                    iframe.setAttribute('src', videoUrl);
                                    iframe.setAttribute('width', '560'); // You can adjust these dimensions as needed
                                    iframe.setAttribute('height', '315');
                                    iframe.setAttribute('frameborder', '0');
                                    iframe.setAttribute('allow', 'autoplay; encrypted-media');
                                    iframe.setAttribute('allowfullscreen', '');
                                    
                                    // Append the iframe to a container element in your HTML
                                    videoExerciseContainer.appendChild(ExciseName);
                                    videoExerciseContainer.appendChild(ExciseDescription);
                                    videoExerciseContainer.appendChild(iframe);
                                    contextDiv.appendChild(videoExerciseContainer);
                                    var Different_Prompt =localStorage.getItem("DifferentWorkout_prompt_key") 
                                    Different_Prompt = Different_Prompt + ExciseName.textContent + ", ";
                                    localStorage.setItem("DifferentWorkout_prompt_key", Different_Prompt);
                                })
                                .catch(error => {
                                    console.error('Error fetching workout video:', error);
                                });
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            function saveToDatabase(message) {
                const currentUrl = window.location.href;
                const baseUrl = currentUrl.replace('/workout/', '');
                const requestUrl = baseUrl + '/save_output_workout/';
                fetch(requestUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/plain',
                        'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
                    },
                    body: message, 
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Response data:', data);
                    if (data.status === 'success') {
                        console.log('Request successful');
                        console.log(data.message);
                    } else {
                        console.error('Request failed');
                        console.error(data.message);
                    }
                }
                )
                .catch(error => {console.error('Error:', error);});
            }
            
            // Function to get CSRF token from cookies
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });        
    </script>
{% endblock %}
