{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Workout Content -->
    <div class="container">
        <div id="player">
            <!-- Videos will be inserted here -->
        </div>
        <div id="context">
        </div>
    </div>
    <div class="nav-buttons mr-3"> 
        <button id="Generate" class="btn btn-custom" >Generate(May Take a few seconds for API)</button>
        <button id="Generate_Different" class="btn btn-custom">Generate 5 more exercise</button>
        <button id="Generate_Again" class="btn btn-custom"> Change workout Type</button>
    </div>

    <div id = "content">
        <!-- Your content here -->
    </div>
    <!-- Styling -->
    <style>.dark-mode {
        /*  dark mode  */
        background-color: #000000;
        color: #fff;
    }
    </style>
    <style>
        .container {
            display: flex;
            align-items: center; /* Center items vertically */
            justify-content: center; /* Center items horizontally */
            flex-wrap: wrap; /* Allow items to wrap to the next line */
        }
        .video-exercise-container {
            margin: 10px; /* Adjust spacing between video-exercise containers */
            text-align: center; /* Center content horizontally */
        }
        .btn-custom {
            background-color: #9c56e3;
            border-color: #9c56e3; 
            color: white; 
        }
    </style>
    <!-- Scripts -->
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'Workout.js' %}"></script>
    <script>
        function toggleTheme() {
        console.log('Toggle theme function called');
        const body = document.body;
        body.classList.toggle('dark-mode');
        }
    </script>
{% endblock %}
