/* Reset and basic styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Dark Theme */
body.dark {
    background-color: #1f1f1f;
    color: #ffffff;
}

body.dark .container {
    border-color: #ffffff; /* White border color for dark theme */
}

body.dark .container h1 {
    color: #ffffff; /* Change h1 color in dark mode */
}

body.dark .container .list-group-item {
    background-color: #333; /* Change list-group-item background color in dark mode */
    color: #ffffff; /* Change list-group-item text color in dark mode */
}

body.dark .container .list-group-item a {
    color: #ffffff; /* Change list-group-item link color in dark mode */
}

body.dark .container .list-group-item a:hover {
    color: #ff0000; /* Change list-group-item link hover color in dark mode */
}

/* Light Theme */
body.light {
    background-color: #ffffff;
    color: #000000; /* Black text color for light mode */
}

body.light .container {
    border-color: #000000; /* Black border color for light mode */
}

body.light .container h1 {
    color: #000000; /* Black h1 color in light mode */
}

body.light .container .list-group-item {
    background-color: #f8f9fa; /* Light background color for list-group-item in light mode */
    color: #000000; /* Black text color for list-group-item in light mode */
}

body.light .container .list-group-item a {
    color: #000000; /* Black link color for list-group-item in light mode */
}

body.light .container .list-group-item a:hover {
    color: #ff0000; /* Red hover color for list-group-item link in light mode */
}



/* Button Style */
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #9c56e3;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up, .Login {
    background-color: #9c56e3;
    color: #fff;
}

/* Hero Section */
.hero {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.Get-Started  {
    background-color: #9c56e3;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Feature Sections */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.feature {
    text-align: center;
}

.feature img {
    max-width: 100px;
}
.plan ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.plan button {
    background-color: #8b2ce8;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.hearts::after {
    content: '💗';
    animation-name: hearts;
    animation-duration: 3s;
}
@keyframes hearts {
    16.666% {
        content: '🧡';
    }

    33.333% {
        content: '💛';
    }

    50% {
        content: '💚';
    }

    66.666% {
        content: '💙';
    }

    83.333% {
        content: '💜';
    }
}
.clock::after {
    content: '🕛';
    animation-name: clock;
    animation-duration: 5s;
}
@keyframes clock {
    8.333% {
        content: '🕐';
    }

    16.666% {
        content: '🕑';
    }

    25% {
        content: '🕒';
    }

    33.333% {
        content: '🕓';
    }

    41.666% {
        content: '🕔';
    }

    50% {
        content: '🕕';
    }

    58.333% {
        content: '🕖';
    }

    66.666% {
        content: '🕗';
    }

    75% {
        content: '🕘';
    }

    83.333% {
        content: '🕙';
    }

    91.666% {
        content: '🕚';
    }
}
.hourglass::after {
    content: '⏳';
    --emoji: '⌛️';
    animation-name: twoFrames;
    animation-duration: 1.2s;
}
@keyframes twoFrames {
    50% {
        content: var(--emoji);
    }
}

/* Form styles */
form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #333; 
    color: #fff; 
}
form h2,
form h4 {
    color: #fff;
}

form input[type="text"],
form input[type="number"],
form select,
form input[type="radio"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
    color: #333; 
}

form input[type="radio"] {
    margin-bottom: 5px;
}

form p {
    text-align: center;
}

form button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #9c56e3; 
    color: #fff; 
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.checkbox {
    margin-top: 5px; /* Adjust spacing between label and checkboxes */
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 10px;
}

.form-buttons {
    text-align: center;
    margin-top: 10px;
}

.form-buttons button {
    margin: 0 5px;
}

/* Footer */
footer {
    background-color: #2b2b2b;
    color: #fff;
    padding: 10px;
    margin-top: auto; 
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Styles for Signup Page */
#signupForm {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5; 
    color: #333; 
}

#signupForm label {
    color: #333; /* text color */
}

#signupForm input[type="text"],
#signupForm input[type="email"],
#signupForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
    color: #333; 
}

#signupForm button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #9c56e3; 
    color: #fff; 
}
/* Styles for Login Page */
#loginForm {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
    color: #333;
}

#loginForm label {
    color: #333; /* text color */
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

#loginForm button {
    width: 100%;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #9c56e3;
    color: #fff;
    margin-top: 10px;
}

  /* Styles for the icon */
  #icon {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    cursor: pointer;
  }